{% extends 'First_App/base.html' %}
{% block body_block %}

<h3>Artist Rating Average : {{ artist_rating.num_stars__avg}}</h3>
<h4>Artist Name : {{ artist_info.first_name }} {{ artist_info.last_name }}</h4>
<h4>instrument : {{ artist_info.instrument }}</h4>
<h1>Album List</h1>
<h3><a href="{% url 'First_App:edit_artist' artist_id=artist_info.id %}" class="btn btn-success">Edit</a></h3>
<table class="table table-striped">
  <tr>
    <th scope="col">Album Name  </th>
    <th scope="col">Relase Date   </th>
    <th scope="col">Rating  </th>
    <th scope="col">Edit Album  </th>
  </tr>
  {% for album in album_list %}
  <tr scope="row">
    <td>{{ album.name }}</td>
    <td>{{ album.relase_date|date:"D, d M, Y"}}</td>
    <td>{{ album.num_stars }}</td>
    <td><a href="{% url 'First_App:edit_album' album_id=album.id %}">Edit </a></td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'First_App:delete_artist' artist_id=artist_id %}" class="btn btn-danger btn=sm" onclick="return confirm('delete this Musician?')"> Delete</a>


{% endblock %}
